<title>McKenzie Rose Studio</title>
<script src="./assets/js/routing.js" type="module"></script>
<link rel="icon" type="image/png" href="/assets/icons/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./assets/css/style.css">
<link rel="stylesheet" href="./assets/css/icons.css">
<link rel="stylesheet" href="./assets/css/illustrations.css">
<script src="./assets/js/query-lite.js"></script>
<script src="./assets/js/site-globals.js"></script>
<script src="./assets/js/render.js"></script>
<script src="./assets/js/image-placement.js"></script>