<nav class="mobile hide">
  <ul>
    <li> <a href='highlights'>Highlights</a> </li>
    <li> <a href='illustrations'>Illustrations</a> </li>
    <li> <a href='instagram'>Instagram</a> </li>
    <li> <a href='etsy'>Etsy</a> </li>
    <li> <a href='contact'>Contact</a> </li>
  </ul>
</nav>

<nav class="mobile show">
  <ul>
    <li name='highlights'>Highlights</li>
    <li name='illustrations'>Illustrations</li>
    <li class="contains-icon" name='instagram'><i class="icon instagram"></i></li>
    <li class="contains-icon" name='etsy'><i class="icon etsy"></i></li>
    <li name='contact'>Contact</li>
  </ul>
</nav>