<nav class="mobile hide">
  <ul>
    <li name='highlights'>Highlights</li>
    <li name='illustrations'>Illustrations</li>
    <li name='instagram'>Instagram</li>
    <li name='etsy'>Etsy</li>
    <li name='contact'>Contact</li>
  </ul>
</nav>

<nav class="mobile show">
  <ul>
    <li name='highlights'>Highlights</li>
    <li name='illustrations'>Illustrations</li>
    <li class="contains-icon" name='instagram'><i class="icon instagram"></i></li>
    <li class="contains-icon" name='etsy'><i class="icon etsy"></i></li>
    <li name='contact'>Contact</li>
  </ul>
</nav>