<nav tabindex="0">
  <ul>
    <!-- These are not real links, but we can make them look like that to a screen reader -->
    <li role="link" href="./illustrations" name='illustrations'>Illustrations</li>
    <li role="link" href="./character-design" name='character-design'>Character&nbsp;Design</li>
    <li role="link" href="./animals" name='animals'>Animals</li>
    <li role="link" href="./black-and-white" name='black-and-white'>Black&nbsp;&&nbsp;White</li>
    <li role="link" href="./instagram" name='instagram'>Instagram</li>
    <li role="link" href="./etsy" name='etsy'>Etsy</li>
    <li role="link" href="./contact" name='contact'>Contact</li>
  </ul>
</nav>
