footer {
  width: 98%;
  max-width: 1200px;
  margin: auto;
  font-size: 8pt;
  padding: 25px;
  border-top: 1px solid gray;
}

footer * {
  color: slategrey;
}

footer .content {
  display: table;
  margin: auto;
  width: auto;
}
footer .dataset {
  display: table-row;
}

footer .subject {
  display: table-cell;
}
footer .subject:not(:last-child) {
  padding-right: 70px;
}

footer .subject a {
  display: block;
  text-decoration: none;
}
footer .subject a:not(.hidden-link):hover {
  text-decoration: underline;
  cursor: pointer;
}