.illustration {
  display: table;
  width: 100%;
  margin-bottom: 15px;
}

.illustration .item {
  display: table-row
}

.illustration .item .data {
  display: table-cell;
  vertical-align: middle;
}

.illustration .item .data.text {
  padding-right: 5%;
  padding-left: 5%;
  width: 100%;
}

.illustration img {
  width: 75vh;
}

.date {
  font-style: italic;
}

@media only screen and (max-width: 900px) {
  
  .illustration {
    margin-bottom: 50px;
  }
  
  .illustration,
  .illustration .item,
  .illustration .item .data {
    display: block;
    padding-right: 0px;
  }
  
  .illustration .item .data.text {
    width: auto;
  }

  .illustration img {
    width: 100%;
    height: auto;
  }

  .illustration .data {
    text-align: center;
  }
}