* {
  /* background colors */
  --bg-color-1: white;
  
  /* foreground colors */
  --fg-color-1: black;

  --nav-margin: 30px;

  outline: none;
}


body {
  background-color: var(--bg-color-1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15pt;
}

main {
  min-height: 65vh;
}

main, 
nav {
  width: 98%;
  /* max-width: 1200px; */
  margin: auto;
}

nav {
  display: block;
  margin-top: var(--nav-margin);
  margin-bottom: var(--nav-margin);
}

nav ul {
  display: flex;
  padding: 0 var(--nav-margin);
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  list-style-type: none;
  padding: 15px;
  border: 1px solid var(--bg-color-1);
  color: var(--fg-color-1);
  text-align: center;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li.active {
  text-decoration: underline;
}


section.logo {
  text-align: center;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}
section.logo img {
  width: auto;
  height: 100px;
  margin: auto;
}

section.logo .name img {
  height: 75px;
}

image-thumbnail img {
  cursor: pointer;
}

image-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111c;
  transition: all 0.3s;
}

image-carousel .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

image-carousel img {
  z-index: 1;
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
}

image-carousel button {
  all: unset;
  position: absolute;
  cursor: pointer;
  background: #999;
  width: 44px;
  height: 44px;
  color: #fff;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  opacity: .5;
  transition: all 0.3s;
}
image-carousel button:hover {
  background: #aaa;
  opacity: 1;
}

image-carousel button.exit {
  top: 15px;
  right: 15px;
}

image-carousel button.next {
  top: 50%;
  right: 15px;
  padding-bottom: 8px;
}
image-carousel button.prev {
  top: 50%;
  left: 15px;
  padding-bottom: 8px;
}

@media screen and (max-width: 650px) {
  section.logo .img-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  section.logo *:not(.name) img {
    margin: unset;
  }

  section.logo .name img {
    height: 50px;
    display: block;
    margin: none;
  }

  section.logo .name img.-m- {
    margin-left: -16px;
  }
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 12pt;
    text-align: center;
  }

  nav ul li {
    padding: 10px;
  }
}

@media only screen and (max-width: 540px) {
  image-thumbnail img {
    cursor: default;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 10pt;
  }

  section.logo img {
    height: 75px;
  }
  
  section.logo .name img {
    height: 37px;
  }
}

@media only screen and (max-width: 320px) {
  *:not(section.logo) {
    width: 100%;
    margin: auto;
  }
}