* {
  /* background colors */
  --bg-color-1: white;
  
  /* foreground colors */
  --fg-color-1: black;
}


body {
  background-color: var(--bg-color-1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15pt;
}

main {
  min-height: 65vh;
}

main, 
nav {
  width: 98%;
  /* max-width: 1200px; */
  margin: auto;
}

nav {
  display: table;
  margin-top: 15px;
  margin-bottom: 15px;
}

nav ul {
  display: table-row;
}

nav ul li {
  display: table-cell;
  list-style-type: none;
  padding: 10px;
  border: 1px solid var(--bg-color-1);
  color: var(--fg-color-1);
  text-align: center;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li.active {
  text-decoration: underline;
}


section.logo {
  text-align: center;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}
section.logo img {
  width: 100%;
  height: auto;
  margin: auto;
}


nav.mobile.hide {
  display: table;
}

nav.mobile.show {
  display: none;
}

@media only screen and (min-width: 900px) {
  .img-wrapper {
    position: relative;
    overflow:hidden;
    height: 200px;
  }
  
  .img-wrapper img {
    width: 100%;
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12pt;
    text-align: center;
  }
  nav .icon {
    --size: 20px;
    margin-bottom: -4px;
  }

  nav .contains-icon {
    padding: 3px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 10pt;
  }

  nav.mobile.hide {
    display: none;
  }
  
  nav.mobile.show {
    display: table;
  }
  
}
@media only screen and (max-width: 320px) {
  * {
    width: 100%;
    margin: auto;
  }
}