* {
  /* background colors */
  --bg-color-1: white;
  
  /* foreground colors */
  --fg-color-1: black;

  --nav-margin: 30px;
}


body {
  background-color: var(--bg-color-1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15pt;
}

main {
  min-height: 65vh;
}

main, 
nav {
  width: 98%;
  /* max-width: 1200px; */
  margin: auto;
}

nav {
  display: table;
  margin-top: var(--nav-margin);
  margin-bottom: var(--nav-margin);
}

nav ul {
  display: table-row;
}

nav ul li {
  display: table-cell;
  list-style-type: none;
  padding: 10px;
  border: 1px solid var(--bg-color-1);
  color: var(--fg-color-1);
  text-align: center;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li.active {
  text-decoration: underline;
}


section.logo {
  text-align: center;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
}
section.logo img {
  width: auto;
  height: 100px;
  margin: auto;
}

section.logo .name img {
  height: 75px;
}

nav.mobile.hide {
  display: table;
}

nav.mobile.show {
  display: none;
}

@media screen and (max-width: 650px) {
  section.logo .img-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }

  section.logo *:not(.name) img {
    margin: unset;
  }

  section.logo .name img {
    height: 50px;
    display: block;
    margin: none;
  }

  section.logo .name img.-m- {
    margin-left: -16px;
  }
}

@media only screen and (max-width: 750px) {
  nav.mobile.hide {
    display: none;
  }
  
  nav.mobile.show {
    display: table;
  }
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 12pt;
    text-align: center;
  }
  nav .icon {
    --size: 20px;
    margin-bottom: -4px;
  }

  nav .contains-icon {
    padding: 3px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 10pt;
  }


  section.logo img {
    height: 75px;
  }
  
  section.logo .name img {
    height: 37px;
  }
}
@media only screen and (max-width: 320px) {
  *:not(section.logo) {
    width: 100%;
    margin: auto;
  }
}